In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import folium

In [47]:
data = pd.read_csv('C://Users//Public//Indicators.csv')
data.shape

(5656458, 6)

In [48]:
data.head()

,CountryName,CountryCode,IndicatorName,IndicatorCode,Year,Value
0,Arab World,ARB,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1960,1.335609e+02
1,Arab World,ARB,Age dependency ratio (% of working-age populat...,SP.POP.DPND,1960,8.779760e+01
2,Arab World,ARB,"Age dependency ratio, old (% of working-age po...",SP.POP.DPND.OL,1960,6.634579e+00
3,Arab World,ARB,"Age dependency ratio, young (% of working-age ...",SP.POP.DPND.YG,1960,8.102333e+01
4,Arab World,ARB,Arms exports (SIPRI trend indicator values),MS.MIL.XPRT.KD,1960,3.000000e+06

In [49]:
hist_indicator = 'CO2 emissions \(metric'
mask1 = data['IndicatorName'].str.contains(hist_indicator) 

# apply our mask
stage = data[mask1]
stage.head()

,CountryName,CountryCode,IndicatorName,IndicatorCode,Year,Value
8,Arab World,ARB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1960,0.643964
86,Caribbean small states,CSS,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1960,1.402641
166,Central Europe and the Baltics,CEB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1960,5.114244
239,East Asia & Pacific (all income levels),EAS,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1960,1.162003
362,East Asia & Pacific (developing only),EAP,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1960,0.952729

In [50]:
years = data['Year'].unique().tolist()
len(years)

56

In [67]:
print(min(years)," to ",max(years))

1960  to  2015

In [51]:
countries = data['CountryCode'].unique().tolist()
len(countries)

247

In [52]:
data = []
col = ['CountryCode', 'TotalValue']

for i in range(len(countries)):
    Total = stage.loc[stage['CountryCode'] == stage.iloc[i]['CountryCode'], 'Value'].sum()
    data.append([stage.iloc[i]['CountryCode'], Total])
    
df = pd.DataFrame(data, columns=col)
print(df)

    CountryCode   TotalValue
0           ARB   149.472325
1           CSS   299.874830
2           CEB   428.371552
3           EAS   133.523182
4           EAP    97.484853
5           EMU   397.921684
6           EUU   427.059723
7           FCS    36.091304
8           HPC     9.673724
9           HIC   567.986392
10          OEC   586.676456
11          LCN   114.829528
12          LAC    92.268332
13          LDC     8.320166
14          LMY    82.059267
15          LMC    46.027481
16          MEA   184.782800
17          MNA   124.907286
18          MIC    88.422512
19          NAC   985.781748
20          OED   532.865404
21          PSS    44.114742
22          SST   121.528063
23          SAS    33.793561
24          SSF    43.828865
25          SSA    43.773966
26          UMC   132.194642
27          WLD   212.588235
28          AFG     7.233851
29          ALB    86.186516
..          ...          ...
217         BEL   591.354954
218         BLZ    71.998358
219         BEN     9.599462
220         BMU   370.514823
221         BOL    47.120042
222         BRA    73.162094
223         BRN  1117.888407
224         BGR   373.458493
225         BFA     3.139345
226         CPV    17.042911
227         KHM     5.266446
228         CMR    12.282449
229         CAN   818.395858
230         CYM   409.402972
231         CAF     3.425385
232         TCD     1.653877
233         CHL   143.457083
234         CHN   117.385787
235         COL    76.061731
236         COM     7.127626
237         ZAR     5.454275
238         COG    23.120966
239         CRI    56.367420
240         CIV    23.637121
241         CUB   134.935304
242         CYP   258.902276
243         DNK   539.031911
244         DJI    37.080600
245         DMA    42.547998
246         DOM    71.568937

[247 rows x 2 columns]

In [53]:
# Setup a folium map at a high-level zoom @Alok - what is the 100,0, doesn't seem like lat long
map = folium.Map(location=[100, 0], zoom_start=1.5)
country_geo = 'C://Users//Public//world-countries.json'
plot_data = df[['CountryCode','TotalValue']]
plot_data.head()

  CountryCode  TotalValue
0         ARB  149.472325
1         CSS  299.874830
2         CEB  428.371552
3         EAS  133.523182
4         EAP   97.484853

In [54]:
# choropleth maps bind Pandas Data Frames and json geometries.  This allows us to quickly visualize data combinations
map.choropleth(geo_data=country_geo, data=plot_data,
             columns=['CountryCode', 'TotalValue'],
             key_on='feature.id',
             fill_color='YlGnBu', fill_opacity=0.7, line_opacity=0.2,
             legend_name=hist_indicator)

In [55]:
# Create Folium plot
map.save('plot_data.html')

In [56]:
# Import the Folium interactive html file
from IPython.display import HTML
HTML('<iframe src=plot_data.html width=700 height=450></iframe>')

In [66]:
mask3 = plot_data['CountryCode'].str.contains('FRA') 
rus = plot_data[mask3]
print(rus)

   CountryCode  TotalValue
77         FRA   364.52284